
    <div class="modal-header">
        <div class="row">
            <div class="col-md-12 text-center">
                <img ng-src="img/sc_logo.jpg" />
              <h4>Cổng vận chuyển giao nhận và thu tiền toàn quốc</h4>
            </div>
        </div>
    </div>
    
    <div class="modal-body wrapper-md">
      <div class="row">
        <div class="col-md-12">
            Chúc mừng bạn <span class="text-primary">{{user.fullname}}</span> đã đăng ký thành công tài khoản <a class="text-info">Shipchung.vn</a>.<br />
            Trước khi bắt đầu tạo đơn hàng để vận chuyển , bạn hãy thực hiện cấu hình đầy đủ các thông tin dưới đây để sử dụng dịch vụ.
            <br />
            * Lưu ý: Thông tin bạn cấu hình là cơ sở để Shipchung ghi nhận "Tổng số tiền thu hộ" của người nhận nếu có.
        </div>
      </div>
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-info r-2x" ng-click="run(1)">Bắt đầu</button>
        <button class="btn btn-danger r-2x" ng-click="run(2)">Bỏ qua</button>
    </div>