<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3" ng-if="userInfo.verified == 2"
        style="text-align: center;
               float: left;
               position: absolute;">

    <!--<label for="" class="alert alert-warning order-process-warning">
        <p><i class="fa fa-heart"></i> Tài khoản của bạn chưa được xác nhận email, vui lòng truy cập hòm thư <span class="text-info">{{userInfo.email}}</span> để xác thực (<a href="javascript:;" ng-click="ResendVerifyEmail()"><span class="text-info {{ResendVerifyEmailProcessing ? 'disabled' : ''}}" >gửi lại email</span> <i class="fa fa-spinner fa-spin" ng-if="ResendVerifyEmailProcessing"></i></a>)</p>
    </label>-->
</div>
<style>
	span.disabled{
		color: #cdcdcd;
	}
</style>