<div>
<div ng-if="keyLang!='en'"  class="panel panel-default">
        <div class="panel-heading font-bold">Bạn chưa đăng kí dịch vụ hoàn tất đơn hàng của boxme.vn ( Fulfillment Service)</div>
        <div class="panel-body">

		<p>Liên hệ với chúng tôi ngay để sử dụng ngay với nhiều tiện ích:</p>

		<p>- Sử dụng kho hàng Boxme trên toàn quốc giúp giao hàng tới người mua nhanh gấp 2 lần.</p>

		<p>- Tạo & quản lý sản phẩm trong kho trực tuyến.</p>
		<p>Xin quý khách vui lòng gửi đăng ký về  email hotro@boxme.vn hoặc hotline 1900 636 068.</p>
        </div>
</div>
<div ng-if="keyLang=='en'" class="panel panel-default">
        <div class="panel-heading font-bold">You are not active fulfillment service yet</div>
        <div class="panel-body">
		<p>Please contact to us to scale up your business.</p>

		<p>- Shipping delivery leadtime -50%, cost -30% to -80% when you use our multi fulfillment warehouses in national wide,</p>

		<p>Contact us now: Customer service email email hotro@boxme.vn or hotline 1900 636 068.</p>
        </div>
</div>
</div>




