<style>
    @media (min-width: 767px) {
         .ui-add-order-shopify .ui-select-choices-content{
            z-index: 9999;
            width: 344px;
        }
    }
    .table > thead > tr > th {
        background: #eaeff0;
    }
    .orderS{overflow-y: scroll;
            max-height: 400px;
    }
    .orderS .table > tbody > tr >td {
        max-height: 110px;;
    }
</style>    
<div class="modal-header">
<div class="row">
    <div class="col-md-12">
    <div class="col-md-11 pull-left no-padder" >
        <h4>{{'shopify_ChonDonShopify' | translate}}</h4>
        </div>
    <button type="button" class="pull-right close" ng-click="cancel()"><i class="fa fa-times"></i></button>
    </div>
    </div>
</div>
<div class="modal-body" ng-if="list_store_shoptifi.length ==0">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center" style="font-size: 16px;font-weight: bolder;">
                <p> {{'shopify_BanChuaCauHinh' | translate}}</p>
            </div> 
        </div>
    </div>
</div>
<div class="modal-body" ng-if="list_store_shoptifi.length>=1">
    <div class="row">
        <form class="form-validation form-horizontal"   ng-controller="OrderCreateV2GlobalCtrl" role="form" name="frmOrderCreate_{{$index}}">   
            <div class="col-md-6" style="margin-bottom: -15px;">
                <div class="form-group">
                    <label for="buyer_name" class="col-lg-3 col-md-4 control-label text-left" style="text-align: left;">{{'shopify_ChonShop' | translate}}<!-- Họ tên --></label>
                    <div class="col-lg-9 col-md-8">
                        <ui-select ng-model="Shopify.Store"  required>
                            <ui-select-match placeholder="{{'shopify_ChonShop' | translate }}">{{$select.selected.store_name}}</ui-select-match>
                            <ui-select-choices refresh-delay="300"  repeat="value  in list_store_shoptifi | filter: $select.search | limitTo: 20 track by $index">
                                {{value.store_name}} ({{'#'+value.id}})
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-md-6"  style="margin-bottom: -15px;">
                <div class="form-group">
                    <div class="input-group m-b-sm" style="margin-right: 15px;">
                        <input class="form-control" ng-model="params_search.order_id"
                        placeholder="{{'ORDERC_Mavandon' | translate}}"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                            ng-click="search_order(params_search.order_id)">{{'Btt_search' | translate}}
                            </button>
                        </span>
                    </div>    
                </div>
            </div>
           
        </form>
        
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="orderS" >
            
            <table class="table table-bordered b-t b-light">
                <thead>
                    <tr>
                        <th class="text-left v-middle" width="2%">
                            <label class="i-checks m-b-none" ng-if="data_order.length > 0">
                                <input type="checkbox" 
                                 ng-change="toggleSelectionAll(checkall)"
                                 ng-checked="false"
                                 ng-true-value="1"  
                                 ng-false-value="0"
                                 ng-model="checkall"
                                 /><i></i>
                            </label>
                        </th>
                        <th class="text-left v-middle" translate>shopify_DonHang</th>
                        <th class="text-left v-middle"><i class="fa fa-user"></i>&nbsp; {{'shopify_KhachHang' | translate}}</th>
                        <th class="text-left v-middle"><i class="fa fa-gift"></i>&nbsp;{{'shopify_SanPham' | translate}}</th>
                        
                        <th class="text-left v-middle" translate>shopify_TienHangKhoiLuong </th>
                        <th class="text-left v-middle" translate>shopify_HanhDong</th>
                    </tr>
                </thead>
                <tbody class="animated driverTable fadeIn" ng-class="{'fadeIn': !search.searching, 'fadeOut': search.searching}">
                    <tr ng-if="waiting">
                        <td class="text-center" colspan="6" ><i class="fa fa-spin fa-spinner text-3x"></i></td>
                    </tr>
                    <tr ng-if="data_order.length==0 && !waiting">
                        <td class="text-center" colspan="6" > {{'shopify_KhongTimThayDuLieu' | translate}}</td>
                    </tr>
                    <tr ng-repeat="(key,value)  in data_order" ng-if="!waiting">
                        <td class="text-left v-middle" width="2%">
                            <label class="i-checks m-b-none">
                                    <input type="checkbox"
                                        ng-model="check" 
                                        ng-change="toggleSelection(key)" 
                                        ng-checked="check_list(key)"
                                     />
                                    <i></i>
                              </label>
                        </td>
                        <td class="text-left v-middle" >
                            <a class="label bg-light text-base text-info ">
                          {{value.Order.Order_code}}</a><br/>
                            <span tooltip="{{'shopify_TimeCreate' | translate}}"></i>{{value.Order.Time_create}}</span>
                        </td>
                        <td class="text-left v-middle">
                            <strong><i class="fa fa-user"></i><!--{{'shopify_TenNguoiNhan' | translate }} <i class="icon-clock ">&nbsp;-->:</strong>&nbsp;{{value.To.Name}}<br>
                            <strong><i class="fa fa-phone"></i><!--{{'shopify_SDT' | translate }}-->:</strong>&nbsp;{{value.To.Phone}}<br>
                            <strong><i class="fa fa-home"></i><!--{{'shopify_DiaChi' | translate}}-->:</strong>&nbsp;{{value.To.Address}}{{value.To.Province ? ', ' : ''}}<br>
                             {{value.To.Province}} {{value.To.City? (', ' + value.To.City):''}} <br>
                            <strong><i class="fa fa-globe"></i><!--{{'shopify_QuocGiaZipcode' | translate}}-->:</strong>&nbsp;{{value.To.Country}}/ {{value.To.Zipcode}}
                  
                        </td>
                        <td class="text-left v-middle">
                            <div class="product" style="overflow-y: scroll;max-height: 100px;">
                                <span ng-repeat="item in value.Items"  class="list-group-item" style="margin-bottom: 5px;">
                                    <!--<span ng-if="value.Items.length>=2">
                                        <strong >{{'shopify_SanPham' | translate}} {{$index +1}}: </strong> <br>
                                    </span>    -->
                                    <strong><i class="fa fa-shopping-cart"></i><!--{{'shopify_MaSp' | translate}}-->:</strong>&nbsp;{{item.sku}} <br>
                                    <strong><i class="fa fa-shopping-cart"></i><!--{{'shopify_TenSp' | translate}}-->:</strong>&nbsp;{{item.name}} <br>
                                    <strong> <i class="fa fa-info"></i><!--{{'shopify_SoLuong' | translate}}-->:</strong>&nbsp;{{item.quantity || '0' | number}},
                                    <strong><i class="fa fa-won"></i><!--{{'shopify_KhoiLuong' | translate}}-->:</strong>&nbsp;{{item.weight || '0' | number}} gram<br>
                                    <strong><i class="fa fa-tags"></i><!--{{'shopify_Gia' | translate}}--></strong>&nbsp;{{item.price || '0' | number}} ({{value.Order.Currency}})<br>
                                </span>

                            </div>

                        </td>
                        
                        <td class="text-left v-middle" >
                            <span><i class="fa fa-won"></i>:&nbsp; {{value.Order.Weight || '0' |roundup | number}} gram</span><br>
                            <span><i class="fa fa-tags"></i>:&nbsp;{{value.Order.Amount || '0' | number}} ({{value.Order.Currency}})</span>
                        </td>
                        <td class="text-left v-middle" >
                            <button type="button" ng-if="list_store_shoptifi.length >=1" ng-click="add_order(value)"  class="pull-right btn btn-info"  style="margin-right:10px" translate>shopify_Import</button>
                        </td>
                    </tr>
                </tbody>
            </table> 

            </div>  

           
            
        </div>
    </div>
</div>
<!--- bk -->

<div class="modal-footer">
    <div class="row">
         <div class="col-lg-12 text-center" style="margin-bottom: -20px;">
			<div class="pull-left">
                <div ng-if="!waiting_import_all && check_box.length > 0" class="btn btn-success" ng-click="ImportAll()">{{'lazada_ImportAll' | translate}}</div>
                <div ng-if="!waiting_import_all && check_box.length > 0" class="btn btn-warning" ng-click="DownloadExcel()"><i class="fa fa-download"></i> Download Excel</div>
                <i ng-if="waiting_import_all" class="fa fa-spin fa-spinner text-2x"></i>
            </div>
             <small ng-if="data_order.length >=1" class="text-muted inline m-t-sm m-b-sm">
                {{ 'Pagegin' | translate: {from: ((params.page - 1) * params.page_size + 1), to: (params.page - 1) * params.page_size + data_order.length, total: total} }}
            </small>
            <div class="pull-right">
                <pagination class="pagination-sm" total-items="total" ng-if="total > 0"
                max-size="5" items-per-page="params.page_size" ng-model="params.page"
                ng-change="get_order();" boundary-links="false" rotate="false"></pagination>
            </div>
            </div>

        </div>
      
    <!--<div class="row">
       <a type="button" ng-if="list_store_shoptifi.length ==0" ng-click="cancel()" ui-sref="app.config.key" class="pull-right btn btn-info"  style="margin-right:10px" translate>shopify_CauHinhNgay</a>
        <button type="button" ng-click="cancel()"  class="pull-right btn btn-default" style="margin-right:10px" translate>shopify_DeSau</button>
    </div>-->
</div>
<script id="template/pagination/pagination.html" type="text/ng-template">
            <ul class="pagination m-t-none">
                <li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}"><a href ng-click="selectPage(1)" title="First Page"> <span class="glyphicon glyphicon-fast-backward"></span></a></li>
                <li ng-if="directionLinks" ng-class="{disabled: noPrevious()}"><a href ng-click="selectPage(page - 1)" title="Previous Page"><span class="fa fa-chevron-left"></span></a></li>
                <li ng-repeat="page in pages track by $index" ng-class="{active: page.active}"><a href ng-click="selectPage(page.number)">{{page.text}}</a></li>
                <li ng-if="directionLinks" ng-class="{disabled: noNext()}"><a href ng-click="selectPage(page + 1)" title="Next Page"><span class="fa fa-chevron-right"></span></a></li>
                <li ng-if="boundaryLinks" ng-class="{disabled: noNext()}"><a href ng-click="selectPage(totalPages)" title="Last Page"><span class="glyphicon glyphicon-fast-forward"></span> </a></li>
            </ul>
        </script>
		

