
<div class="page" ng-controller="InventControllerMau" ng-init="app.settings.headerFixed = false"> 
<div class="mainPrints" style="width: 21cm;max-height: 38.85cm;"  >
<link href="/css/RedboxPrint.css" type="text/css" rel="stylesheet"> 
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Invoice BoxMe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
      @import url(http://fonts.googleapis.com/css?family=Bree+Serif);
      body, h1, h2, h3, h4, h5, h6{
      font-family: "message-box", serif;
      }
    </style>
  </head>
  <style type="text/css">
    .invoice-box {
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        color: #555;
        font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
        font-size: 12px;
        line-height: 20px;
        margin: auto;
        max-width: 800px;
      
    }
    
    body{
    background-color: transparent;}
  </style>
  <body>
  <div class="invoice-box">
    <div class="container-flus">
      <div class="row" style="margin-left:1px;margin-right:1px">
        <div class="col-xs-8">
          <h3><p editable-text="invoice.title"
          		style="font-weight: bold;"	
          		class="top-name">{{invoice.title}}</p><!-- <strong editable-text="invoice.title"> </strong> -->
          </h3>
        </div>
        <div class="col-xs-4 text-right">
          <h3><p editable-text="invoice.oder_number_name"
          		 style="font-weight: bold;"
          		 >{{invoice.oder_number_name}}</p>
          </h3>
          <h1><small><p editable-text="dataInvoice.data_oder_number"
          		 		>{{dataInvoice.data_oder_number}}</p>
          	</small>
          </h1>
        </div>
      </div>
      <div class="row" style="margin-left:1px;margin-right:1px" style="margin-left:1px;margin-right:1px">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>
              <p editable-text="invoice.oder_info_title"
          		 style="font-weight: bold;"
          		 >{{invoice.oder_info_title}}</p>
			  </h4>
            </div>
            <div class="panel-body" style="padding:0">
              <table class="table table-bordered" style="margin-bottom:0">
                <tbody>
                  <tr>
                    <td>
                    	 <p editable-text="invoice.oder_info_receiver_fullname"
			          		style="display: inline;">{{invoice.oder_info_receiver_fullname}}
			          	 </p>
					</td>
                    <td>
                    	<p editable-text="dataInvoice.data_oder_info_receiver_fullname_data"
          		 		style="display: inline;">{{dataInvoice.data_oder_info_receiver_fullname_data}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    	<p editable-text="invoice.oder_info_receiver_address"
			          		style="display: inline;">{{invoice.oder_info_receiver_address}}
			          	 </p>
                    </td>
                    <td>
						<p editable-text="dataInvoice.data_oder_info_receiver_address"
          		 		style="display: inline;">{{dataInvoice.data_oder_info_receiver_address}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td> <p editable-text="invoice.oder_info_receiver_phone"
			          		style="display: inline;">{{invoice.oder_info_receiver_phone}}
			          	 </p>
			         </td>
                    <td>
                    	<p editable-text="dataInvoice.data_oder_info_receiver_phone"
          		 		style="display: inline;">{{dataInvoice.data_oder_info_receiver_phone}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-left:1px;margin-right:1px">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><p editable-text="invoice.oder_detail_title"
          		 style="font-weight: bold;"
          		 >{{invoice.oder_detail_title}}</p>
             <!--  <strong>CHI TIẾT ĐƠN HÀNG</strong> -->
             </h4>
            </div>
            <div class="panel-body" style="padding:0">
              <table class="table table-bordered" style="margin-bottom:0">
                <tbody>
                  <tr>
                    <td>
                    	<p editable-text="invoice.oder_info_date_create"
			          		style="display: inline;">{{invoice.oder_info_date_create}}
			          	 </p>
                    <!-- Ngày đặt hàng -->
                    </td>
                    <td>
						<p editable-text="dataInvoice.data_oder_info_date_create"
          		 		style="display: inline;">{{dataInvoice.data_oder_info_date_create}}</p>                    
                    </td>
                  </tr>
                  
                  <tr>
                    <td>
                    	<p editable-text="invoice.oder_info_shipment_type"
			          		style="display: inline;">{{invoice.oder_info_shipment_type}}
			          	 </p>
                    <!-- Phương thức giao hàng --></td>
                    <td>
                    	<p editable-text="dataInvoice.data_oder_info_shipment_type"
			          		style="display: inline;">{{dataInvoice.data_oder_info_shipment_type}}
			          	 </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-left:1px;margin-right:1px;margin-bottom:20px;">
      	<div class="col-xs-12"><h4><p editable-text="invoice.checkboxTitle"
          		 style="font-weight: bold;"
          		 >{{invoice.checkboxTitle}}</p>
             </h4></div>
	      <div class="col-xs-3">
				<label class="checkbox-inline i-checks" >
	              <input type="checkbox"  ng-model="dataInvoice.checkboxDocument" ng-checked="dataInvoice.checkboxDocument == 1"  ng-false-value="2" ng-true-value="1">
	              <i></i>
	             	 <p editable-text="invoice.checkboxDocument"
	          		style="display: inline;">{{invoice.checkboxDocument}}
		          	 </p>
	            </label>
	      </div>
	      <div class="col-xs-3">
				<label class="checkbox-inline i-checks">
	              <input  type="checkbox"  ng-model="dataInvoice.checkboxCommercial" ng-checked="dataInvoice.checkboxCommercial == 1"  ng-false-value="2" ng-true-value="1">
	              <i></i>
	              <p editable-text="invoice.checkboxCommercial"
	          		style="display: inline;">{{invoice.checkboxCommercial}}
		          	 </p>
	            </label>
	      </div>
	      <div class="col-xs-3">
				<label class="checkbox-inline i-checks">
	              <input type="checkbox"  ng-model="dataInvoice.checkboxMerchandise" ng-checked="dataInvoice.checkboxMerchandise == 1"  ng-false-value="2" ng-true-value="1">
	              <i></i>
	              	<p editable-text="invoice.checkboxMerchandise"
	          		style="display: inline;">{{invoice.checkboxMerchandise}}
		          	 </p>
	            </label>
	      </div>
	      <div class="col-xs-3">
				<label class="checkbox-inline i-checks" >
	              <input  type="checkbox" ng-model="dataInvoice.checkboxDangerousGoods" ng-checked="dataInvoice.checkboxDangerousGoods  == 1"  ng-false-value="2" ng-true-value="1">
	              <i></i>
	              	<p editable-text="invoice.checkboxDangerousGoods"
	          		style="display: inline;">{{invoice.checkboxDangerousGoods}}
		          	 </p>
	            </label>
	      </div>
	      <div class="col-xs-3" ng-init="">
				<label class="checkbox-inline i-checks"  >
	              <input type="checkbox"  checked>
	              <i></i>
	              	<p editable-text="invoice.checkboxGift"
	          		style="display: inline;">{{invoice.checkboxGift}}
		          	 </p>
	            </label>
	      </div>
	      <div class="col-xs-3">
				<label class="checkbox-inline i-checks" tooltip="{{'OderC_lable_bancothenhanhangtaikhobome' | translate }}" >
	              <input type="checkbox"  ng-model="dataInvoice.checkboxHumanitarianDonation" ng-checked="dataInvoice.checkboxHumanitarianDonation == 1"  ng-false-value="2" ng-true-value="1">
	              <i></i>
	              	<p editable-text="invoice.checkboxHumanitarianDonation"
	          		style="display: inline;">{{invoice.checkboxHumanitarianDonation}}
		          	 </p>
	            </label>
	      </div>
	      <div class="col-xs-6">
				<label class="checkbox-inline i-checks" >
	              <input type="checkbox"  ng-model="dataInvoice.checkboxOrther" ng-checked="dataInvoice.checkboxOrther == 1"  ng-false-value="2" ng-true-value="1">
	              <i></i>
	              	<p editable-text="invoice.checkboxOrther"
	          		style="display: inline;">{{invoice.checkboxOrther}}
		          	 </p>	
	            </label>
	      </div>
      </div>
      <!-- / end client details section -->
      <div class="row" style="margin-left:1px;margin-right:1px">
        <div class="col-xs-12">
          <table class="table table-bordered" style="margin-bottom:0">
            <thead>
              <tr>
                <th>
                  <h4><span editable-text="invoice.oder_product_code_name"style="font-weight: bold;">
                  {{invoice.oder_product_code_name}}</span> 
                  <!-- <STRONG>Mã</STRONG> --></h4>
                </th>
                <th>
                  <h4><span editable-text="invoice.oder_product_name_name" style="font-weight: bold;">
                  {{invoice.oder_product_name_name}}</span>
                  <!-- <strong>Tên sản phẩm</strong --></h4>
                </th>
                <th>
                  <h4><span editable-text="invoice.oder_product_quatity_name" style="font-weight: bold;">
                  {{invoice.oder_product_quatity_name}}</span>
                  <!-- <strong>Số lượng</strong> --></h4>
                </th>
                <th>
                  <h4><span editable-text="invoice.oder_product_price_name" style="font-weight: bold;">
                  {{invoice.oder_product_price_name}}</span> 
                  <!-- <strong>Đơn giá(vnd)</strong> --></h4>
                </th>
                <th>
                  <h4><h4><span editable-text="invoice.oder_product_total_product_name" style="font-weight: bold;">
                  {{invoice.oder_product_total_product_name}}</span>
                  <!-- <strong>Thành tiền</strong> --></h4>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in dataInvoice.oder_item">
                <td>
                	<p editable-text="item.sku"
		          		style="display: inline;">{{item.sku}}
		          	 </p>
               	</td>
                <td>
                	<p editable-text="item.name"
		          		style="display: inline;">{{item.name}}
		          	 </p>
		         </td>
                <td class="text-right">
                	<p editable-text="item.quatity" e-type="number"
		          		style="display: inline;">{{item.quatity}}
		          	 </p>
                </td>
                <td class="text-right">
                	<p editable-text="item.price" e-type="number"
		          		style="display: inline;">{{item.price | vnNumber}}
		          	 </p>
                </td>
                <td class="text-right">
                	<p style="display: inline;">{{item.quatity * item.price  | vnNumber}}
		          	 </p>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
      <div class="row text-right" style="margin-left:1px;margin-right:1px">
        <div class="col-xs-12">
        		<lable editable-text="invoice.oder_product_total_order" style="font-weight: bold;"
          		 >{{invoice.oder_product_total_order}}:</lable>
          		<lable editable-text="dataInvoice.data_order_total_price" style="font-weight: bold;"
          		 >{{dataInvoice.data_order_total_price}}</lable> 
         <!--  <p>
            <strong>
            Total :  $1200.00 <br>
            </strong>
          </p> -->
        </div>
      </div>
      <!-- <div class="row" style="margin-left:1px;margin-right:1px">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body" style="padding:0">
            	
            </div>
          </div>
        </div>
      </div> -->
      <div class="row" style="margin-left:1px;margin-right:1px">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body" >
            	<lable editable-text="invoice.oder_note_name" style="font-weight: bold;"
          		 >{{invoice.oder_note_name}}:</lable>
          		<lable editable-textarea="dataInvoice.data_order_note_description" e-style="min-width: 200%; height: 80px;"
          		 >{{dataInvoice.data_order_note_description}}</lable> 
            	<p editable-text="invoice.order_company_info_name"
          		 >{{invoice.order_company_info_name}}:</p>
          		 <p editable-textarea="invoice.order_company_descrpition_name" e-style="min-width: 200%; height: 80px;"
          		 >{{invoice.order_company_descrpition_name}}</p>
          		 <lable editable-text="invoice.order_COD_name" style="font-weight: bold;"
          		 >{{invoice.order_COD_name}}:</lable>
          		<lable editable-text="dataInvoice.data_cod" style="font-weight: bold;"
          		 >{{dataInvoice.data_cod}}</lable> 
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  </body>
</html>
<div style="right: -165px" class="settings panel-default">
  <button onclick="window.print();" class="btn no-shadow pos-abt hidden-print"><i class="fa fa-print"></i> In hóa đơn</button>
</div>
<div style="right: -165px;top: 165px;" class="settings  panel-default">
  <button  ng-click="save(invoice,dataInvoice)" style="background-color: #27c24c !important;border-color: #27c24c !important;color: #ffffff !important;min-width: 110px;" class="btn  no-shadow pos-abt hidden-print"> Lưu lại</button>
</div>
</div>
</div>