<style>
    .signup-line { width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; }
    .signup-line small{background-color: #edf1f2;}
    .data_service_popup_close .popover{
        display: none !important;
    }
</style>
<div class="container col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4"  ng-controller="SignupFormController" ng-init="app.settings.container = false;user.identifier = 'Anh';agree = true">
    <a href class="navbar-brand block m-t">
    
    <img ng-src="{{site.login.logo}}" alt="{{app.name}}" style="max-height: 100px"/></a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>{{keyLang=='vi' ? site.login.title : site.login.title_en}}</strong>
        </div>

        <div class="clearfix">&nbsp;</div>

        <form name="frm_register" class="form-horizontal form-validation padder">
            <a ng-click="loginFbJs()" class="btn btn-lg btn-info btn-block r-2x font-normal text-lgx" style="background:#428BCA">

                <i class="fa fa-fw fa-facebook"></i> {{'login.fb' | translate}}<!-- ĐĂNG NHẬP VỚI FACEBOOK -->
            </a>

            <div class="clearfix">&nbsp;</div>
            <p class="text-center signup-line"><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{'login.Create' | translate}}<!-- hoặc tạo tài khoản mới bằng email -->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small></p>
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
            </div>

            <div class="form-group pull-in clearfix">
                <div class="col-sm-3">
                    <select class="form-control" ng-model="user.identifier" required >
                        <option value="Anh">{{'login.Nam' | translate}}</option>
                        <option value="Chi">{{'login.Nu' | translate}}</option>
                    </select>
                </div>
                <div class="col-sm-9 no-padder-l">
                    <input type="text" placeholder="{{'login.inputName' | translate}}" class="form-control" ng-model="user.fullname"  required />
                </div>
            </div>

            <div class="form-group padder">
                <input type="text" placeholder="{{'login.sdt' | translate}}" class="form-control" ng-minlength="9" ng-maxlength="12" ng-model="user.phone" required >
            </div>

            <div class="form-group padder">
                <input type="email" placeholder="Email (*)" class="form-control" ng-maxlength="100" ng-model="user.email" required>
            </div>

            <div class="form-group padder">
                <input type="password" name="password" placeholder="{{'login.inputPass' | translate}}" ng-minlength="6" class="form-control " ng-model="user.password" ng-maxlength="100" required />
            </div>

            <div class="form-group padder">
                <input class="form-control" ng-maxlength="200" ng-model="user.address" details="autocomplete_details"  google-autocomplete placeholder="{{'login.addressInvent' | translate}}"  required>
            </div>

            <div class="form-group padder " style="position: relative;">
                <district-from-google-place    ng-model="user.location" default-district="user.location.district_id" details="autocomplete_details"></district-from-google-place required>
            </div>

            <div class="form-group padder">
                <select
                        boxme-ward-by-district
                        district-id="user.location.district_id"
                        ward-id    = "user.location.ward_id"
                        default-label="{{'login.ward' | translate}}"
                        ng-model="user.location.ward_id"
                        required
                        class="form-control">
                </select>
            </div>

            <div class="checkbox" ng-init="agree = true">
                <label class="i-checks">
                    <input type="checkbox" ng-model="agree" required><i></i>  {{'login.Yes' | translate:{isShipchung:isShipchung} }}
                </label>
            </div>

            <div class="form-group padder m-t">
                <button type="submit" class="btn btn-lg btn-success r-2x btn-block" ng-click="signup(user)" ng-disabled='frm_register.$invalid || !agree'>{{'register_dangki' | translate}}</button>
            </div>
            <div class="form-group padder text-center">
                {{'register.registered' | translate}} <a class="text-info" ui-sref="access.signin">{{'register.login' | translate}}</a>
            </div>


        </form>
    </div>
    <div class="text-center" ng-include="'tpl/blocks/page_footer.html'"></div>
</div>