<div class="container col-md-4 col-md-offset-4" ng-init="app.settings.container = false;" ng-controller="GetPasswordCtrl">
    <a href class="navbar-brand block m-t"><img src="img/logo.png" alt="{{app.name}}" style="max-height: 100px"/></a>
    <div class="m-b-lg">
      <div class="wrapper text-center">
        <strong>Nhập lại mật khẩu của bạn</strong>
      </div>
      <form name="change">
          <div class="list-group list-group-sm">
            <div class="list-group-item">
              <input type="password" placeholder="Mật khẩu mới" ng-model="password" class="form-control no-border">
            </div>
            <div class="list-group-item m-t-xs">
              <input type="password" placeholder="Nhập lại mật khẩu" ng-model="re_password" class="form-control no-border">
            </div>
          </div>
          <button type="submit" ng-disabled="change.$invalid" class="btn btn-lg btn-primary btn-block"  ng-click="getPass(token,password,re_password)">Lưu mật khẩu mới</button>
      </form>
    </div>
    <div class="text-center" ng-include="'tpl/blocks/page_footer.html'"></div>
</div>